/* 
  Write here your CSS rules for HackYourRepo!
*/

body{
  margin: 0 auto;
  padding: 0;
  width: 70%;
  background-image: linear-gradient(to right,rgb(56, 143, 184),rgb(120, 161, 180));
}
.header{
  background-color: #3F51B5;
  height: 3.5rem;
  color: white;
  font-size: 1.1rem;
}
.header, head{
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 15px;
}
.header select{
  margin-left: 1.5rem;
  max-width: 8rem;
}


/* for both sections */
.repositories-container{
  border: 1px solid white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  margin: 0.2rem;
  padding:1rem;
  background-color: white;
}

/* for section1 (repositories) */
label{
  font-weight: bold;
}

p{
  margin-left: 4rem;
}


/* // section2 (contributors) */
.contributors{
  display: grid;
  grid-template-columns: 1fr 2fr 0.3fr ;
  align-items: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  padding: 0.5rem;
}


.contributors a{
  text-decoration: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
}
.img{
  width:60px;
  margin-top: 1rem;
}

.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pagenumbers button {
  background-color:#62aada;
  color: white;
  font-size: 1.2rem;
	width: 2rem;
  height: 2rem;
  margin: 0.3rem;
	border: none;
	cursor: pointer;
	
}

.pagenumbers button:hover {
	background-color: #6aa1bb;
}

.pagenumbers button.active {
	background-color: #b6beba;
}


@media screen and (max-width: 800px){
  .header select{
    max-width: 6rem;
  }
  body{
    width: 100%;
  }
  .grid-container{
    grid-template-columns: 1fr;
  }
  .contributorsLi{
    margin: 20px
  }

}

